/* .innerTable {
  height: 120%;
} */

table {
  page-break-inside: auto;
}

td,
th {
  border-color: black !important;
}
tr {
  page-break-inside: avoid;
  page-break-after: auto;
}

.table {
  border-collapse: collapse;
}
.table td {
  border: 1px solid black;
}
.table tr:first-child td {
  border-top: none;
}
.table tr:last-child td {
  border-bottom: none;
}
.table tr td:first-child {
  border-left: none;
}
.table tr td:last-child {
  border-right: none;
}

.hidePrint {
  display: none;
}
